<div class="mapa-overlay-layout">
    <div #mapContainer class="map-container"></div>
    <div class="menu-overlay">
        <div class="btn-group me-3">
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-secondary btn-sm" ngbDropdownToggle>
                    <i class="bi bi-map" style="font-size: 1.1em; margin-right: 6px;"></i>
                    Capas base
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button ngbDropdownItem *ngFor="let layer of availableLayers" (click)="switchToLayer(layer.id)">
                        {{ layer.displayName }}
                    </button>
                </div>
            </div>
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-secondary btn-sm" ngbDropdownToggle>
                    <i class="bi bi-layers" style="font-size: 1.1em; margin-right: 6px;"></i>
                    Capas superpuestas
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button ngbDropdownItem *ngFor="let overlay of availableOverlays"
                        (click)="toggleOverlay(overlay.id, !overlay.visible)">
                        {{ overlay.displayName }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>