<div class="mapa-overlay-layout">
    <div #mapContainer class="map-container"></div>
    <div class="menu-overlay">
        <div>
            <h1 class="fs-3 fw-bold text-decoration-underline bg-warning">hola mundo</h1>
            <button class="btn btn-lg btn-primary">Esto es DaisyUI</button>
            <details role="group">
                <summary>
                    Capas base
                </summary>
                <div>
                    <button *ngFor="let layer of availableLayers" (click)="switchToLayer(layer.id)">
                        {{ layer.displayName }}
                    </button>
                </div>
            </details>
            <details role="group">
                <summary>
                    Capas superpuestas
                </summary>
                <div>
                    <button *ngFor="let overlay of availableOverlays"
                        (click)="toggleOverlay(overlay.id, !overlay.visible)">
                        {{ overlay.displayName }}
                    </button>
                </div>
            </details>
        </div>
    </div>
</div>