/* Theme PrimeUIX se aplica solo por configuración, no se importa CSS global */
@import 'primeicons/primeicons.css';
/* You can add global styles to this file, y también importar otros archivos de estilos */
@import 'maplibre-gl/dist/maplibre-gl.css';

/* Optional: basic reset for full-viewport apps */
html, body {
	height: 100%;
	margin: 0;
}